@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;600;700;800;900&family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

h2 span{ 
    display: block;
    font-size: 3rem;
    color: #fff;
    font-weight: bold;
    font-family: 'Poppins', sans-serif;
    padding-left: 1rem;
}

h2{
    position: relative;
    margin-left: 1rem;
    width: 70%;
    line-height: 150%;
}

h2::before{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    width: 5px;
    height: 70%;
    background-color: #ea601e;
    display: block;
    content: '';
    border-radius: 4px;
}

h3{
    width: 100%;
    height: 3rem;
    font-size: 2rem;
    color: #fff;
    white-space: nowrap; 
    overflow: hidden;
    text-overflow: ellipsis; 
    margin-bottom: 0.5rem;
}

.slick-track{
    padding: 2rem 0;
}

a{
    text-decoration: none;
}

button{
    cursor: pointer;
}


.slick-prev{
    position: absolute;
    top:-4rem;
    right: 10rem;
    width: 30px;
    height: 30px;
    font-size: 0;
    cursor: pointer;
    border-radius: 50%;
    background-color: #797979;
}

.slick-prev::after{
    content: '';
    position: absolute;
    top: 20%;
    left: 30%;
    transform: translate(-50%, -50%);
    width: 2rem;
    width: 10px;
    height: 10px;
    border: solid #ea6016;
    box-shadow: rgb(255, 255, 255, 0.2) 1px 1px 2px, rgb(255, 255, 255, 0.2) 1px 1px 2px;
    border-width: 0 4px 4px 0;
    -webkit-transform: rotate(135deg);
    -ms-transform: rotate(135deg);
    transform: rotate(135deg);
    display: block;
    border-radius: 30%;
}


.slick-next{
    position: absolute;
    top:-4rem;
    right: 6rem;
    width: 30px;
    height: 30px;
    font-size: 0;
    cursor: pointer;
    border-radius: 50%;
    background-color: #797979;
}

.slick-next::after{
    content: '';
    position: absolute;
    top: 20%;
    right: 30%;
    transform: translate(-50%, -50%);
    width: 2rem;
    width: 10px;
    height: 10px;
    border: solid #ea6016;
    box-shadow: rgb(255, 255, 255, 0.2) 1px 1px 2px, rgb(255, 255, 255, 0.2) 1px 1px 2px;
    border-width: 0 4px 4px 0;
    transform: rotate(-45deg);
    display: block;
    border-radius: 30%;
}
/* slide type 1------------------------------------------------ */



/* slide type 2------------------------------------------------ */



/* slide type 3------------------------------------------------ */



/* slide type 4------------------------------------------------ */




.slide-s1 img{
    width: 21rem;
}

.slide-s1{
    display: block;
    z-index: 10;
}


img{
    transition: all .4s linear;
    object-fit: cover;
    width: 100%;
    height: 100%;
}


.slide-s1 img:hover{
    transform: scale(1.1);
    -webkit-filter: drop-shadow(5px 5px 12px #ea6016);
    filter: drop-shadow(5px 5px 12px #ea6016);
}
    
.slide-s1{
    position: relative;
}



.Will-take-place{
    padding: 0.25rem 0.5rem;
    font-size: 1rem;
    font-weight: 600;
    color: #fff;
    background-color: #ea6016;
    border-radius: 4px;
    position: absolute;
    top: 1rem;
    left: 2rem;
    border:none;
}



.slide-item{
    position: relative;
    margin: 0 1rem;
}


.slide-box-img{
    border-radius: 4px;
    overflow: hidden;
    transition: all .1s linear;
}
.slide-item:hover .slide-box-img{
    -webkit-box-shadow: rgb(235, 88, 3) 0px 5px 15px;
    -moz-box-shadow: rgb(235, 88, 3) 0px 5px 15px;
    box-shadow: rgb(235, 88, 3) 0px 5px 15px;
}

.slide-box-img:hover img{
    transform: scale(1.1);

}

.slide-box-content{
    margin: 1rem 0;
}

.slide-box-content div{
    display: flex;
    align-items: center;
}

.slide-box-content div button{
    color: #fff;
    padding:0.5rem 0.5rem;
    border-radius: 4px;
    border: none;
    margin-right: 1rem;
    font-size: 1.25rem;
}

.slide-box-content div span{
    color: #797979;
    font-size: 1.5rem;
    margin-right:1rem
}

